.grid__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 10%;
    height: 100vh;
    grid-gap: 5px;
    padding: 5px;
}

.first {
    background-color: #fbf8cc;
    grid-area: 1 / 1 / 4 / 3;
}

.second {
    background-color: #fde4cf;
    grid-area: 1 / 3 / 7 / 5;
}

.third {
    background-color: #ffcfd2;
    grid-area: 1 / 5 / 3 / 7;
}

.forth {
    background-color: #f1c0e8;
    grid-area: 3 / 5 / 5 / 7;
}

.fifth {
    background-color: #cfbaf0;
    grid-area: 5 / 5 / 7 / 7;
}


.sixth {
    background-color: #a3c4f3;
    grid-area: 4 / 1 / 7 / 3;
}

.seventh {
    background-color: #90dbf4;
    grid-area: 7 / 1 / 11 / 3;
}

.eigth {
    background-color: #8eecf5;
    grid-area: 7 / 3 / 9 / 4;
}

.ninth {
    background-color: #98f5e1;
    grid-area: 7 / 4 / 11 / 6;
}

.tenth {
    background-color: #b9fbc0;
    grid-area: 7 / 6 / 11 / 7;
}

.eleventh {
    background-color: #aaf683;
    grid-area: 9 / 3 / 11 / 4;
}